label{
    color:black !important;
}
span{
    color: black !important;
    position: absolute;
    left: 25%;
}
input{
    color: black !important;
    position: absolute;
    left: 25%;
}
.dropdown-menu{
    background-color:#3F434C;
}
.dropdown-item:hover{
    color: white;
    background-color:#353A40;
}
button{
    background-color: #353A40
}