<div>
  <h1 style="margin-left: 10%; margin-top: 10px; margin-bottom: 1%; display: inline-block">View Invoices</h1>
  <br>
  <div style="float: left; margin-left: 10%; margin-bottom: 10px; display: inline-block;" class="dropdown">
    <button *ngIf="this.user.admin" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{viewingUser}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="color:white;" (click)="loadManagerInvoices()">All</a>
      <a class="dropdown-item" *ngFor="let user of users[0]; index as i" style="color:white;" (click)="getUser(i)">{{user.businessName}}</a>
    </div>
    <div class="btn-group" role="group" style="display: inline-block;">
      <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="getAll()">All</button>
      <!-- <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="getPastDue()">Past Due</button> -->
      <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="getNotPaid()">Unpaid</button>
      <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="getPaid()">Paid</button>
      <button *ngIf="processing" type="button" class="btn btn-secondary"><i class="fas fa-spinner fa-spin"></i>   Processing Filter</button>
    </div>
  </div>
</div>
<div id="table" class="table-responsive" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 10%;">
  <table class="table table-striped table-hover table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of columns">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices[0]; index as i">
        <td>{{invoice.invoiceId}}</td>
        <td>{{invoice.invoiceDateOfIssue}}</td>
        <td>{{invoice.invoicePayByDate}}</td>
        <td>{{status[i]}}</td>
        <td>{{invoice.invoicePaidDate}}</td>
        <td>${{invoice.invoiceTotal.toFixed(2)}}</td>
        <td *ngIf="this.user.admin">{{invoice.user.businessName}}</td>
        <td *ngIf="this.user.admin">{{invoice.user.firstName}} {{invoice.user.lastName}}</td>
        <td style="width: 2%;" style="cursor: pointer" (click)="viewInvoice(i)" *ngIf="this.user.admin && !invoice.invoicePaidFlag" title="Edit Invoice"><i class="fas fa-edit"></i></td>
        <td style="width: 2%;" style="cursor: pointer" (click)="viewInvoice(i)" *ngIf="this.user.admin && invoice.invoicePaidFlag" title="View Invoice"><i class="far fa-file-alt"></i></td>
        <td style="width: 2%;" style="cursor: pointer" (click)="viewInvoice(i)" *ngIf="!this.user.admin" title="View Invoice"><i class="far fa-file-alt"></i></td>
        <!-- <td style="width: 2%;" style="cursor: pointer" (click)="viewInvoice(i)" *ngIf="!this.user.admin && !invoice.invoicePaidFlag" title="Pay Invoice"><i class="fas fa-credit-card"></i></td> -->
      </tr>
    </tbody>
  </table>
</div>

