<div id='main-container'>
    <form [formGroup]="registerForm">
      <h3 style="text-align: center; padding-top: 5%;">{{formName}} Password</h3>
      <hr>
      <div>
        <div *ngIf="showChange">
          <div class="form-group">
            <label>Old Password</label>
            <input type="password" formControlName="oldPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" [(ngModel)]="this.password" />
            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
              <div *ngIf="f.oldPassword.errors.required">Password is required</div>
              <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
        </div>
        <div *ngIf="!showChange">
          <div *ngFor="let question of userChallengeQuestions; let i = index">
            <label>{{question}}</label>  
            <input class="form-control" [(ngModel)]="userAnsweredChallengeAnswers[i]" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        
        <div>
        <div class="form-group">
          <label *ngIf="showChange">New Password</label>
          <label *ngIf="!showChange">Password</label>
          <input type="password" formControlName="newPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" [(ngModel)]="this.newPassword" />
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" [(ngModel)]="verifyPassword" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div> 
      </div>
        <div *ngIf="errorMessage" style="text-align: center; width: 70%; margin-left: 15%;" (click)="closeMessage()">
          <span style="color: white; font-size: 15px;">{{errorMessage}}<a *ngIf="showLink" routerLink="/login">here...</a></span>
        </div>     
      </div>
      <br>
      <div class="form-group">
        <button style="width: 20%; margin-right: 40%; margin-left: 40%"
          (click)="onSubmit()" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <button routerLink="/" class="btn btn-danger" style="width: 20%; margin-left: 40%; margin-right: 40%;">Cancel</button>
  </div>