.page{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 90%;
    height: 1200px;
    margin-bottom: 8%;
    margin-left: 5%;
  }
  .form{
    width: 95%;
    height: 1200px;
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: 3%;
  }
  
  #separator{
    width: 90%;
    height: 20px;
    background: darkgrey;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-radius: 4px;
  }
  
  #logo{
    position: fixed;
  }
  
  .column {
    float: left;
  }
  
  .left {
    margin-top: 2%;
    width: 75%;
  }
  
  .right {
    background-color: white;
    width: 23%;
    margin-right: 2%;
    margin-top: 2%;
    height: 1200px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .table{
    display: inline-block;
    width: 60%;
    margin-left: 3%;
    margin-right: 7%;
  }
  input{
    width: 100%;
  }
  .card{
    width: 90%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 5%;
    margin-top: 3%;
  }
  h4{
      color: black;
  }
  label{
      color:black;
  }
  input{
      color: black;
  }
  button{
      color: black;
  }
  .table-heading{
      color: black;
  }
  .largeWidth {
    width: 100%;
  }
  .adminView {
    width: 100%;
  }
.mediumWidth{
  width: 60%;
}
.smallWidth {
    width: 75%;
}
form {
  width: 480px;
  margin: 20px 0;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 7%
}

.paymentLabel {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}
span{
  color: black
}

.field::-webkit-input-placeholder {
  color: #CFD7E0;
}

.field::-moz-placeholder {
  color: #CFD7E0;
}

.paymentSubmit {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 94%;
  height: 40px;
  line-height: 38px;
  outline: none;
  margin-left: 7%
}

button:focus {
  background: #555ABF;
}

button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 13px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.btn-primary{
  height: 40px;
  width: 34%;
  margin-left: 11%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(83, 83, 83);
  color: rgb(94, 216, 238);
  border-style: none;
}

.btn-primary:active:focus{
  background-color: rgb(83, 83, 83);
}

.btn-primary:hover{
  background-color: rgb(94, 216, 238);
  color: black;
}

#buttonBackground{
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  height: 80px;
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 8px;
}

#buttonBackground1{
  margin-top: 3%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 3%;
  width: 20%;
  height: 80px;
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 8px;
}

.btn-primary1{
  height: 40px;
  // width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(83, 83, 83);
  color: rgb(94, 216, 238);
  border-style: none;
}

.btn-primary1:hover{
  background-color: rgb(94, 216, 238);
  color: black;
}

button{
  width: auto;
}