<div class="background" (keyup)="calculate()">
    <div class="row">
  
  
      <div class="column left" [ngClass]="{ mediumWidth: !admin && !paid, adminView: admin, largeWidth : !admin && paid }">
        <div class="page">
          <img src='' style="height: 50px; width: 150px; margin-top: 10px; margin-left: 5%;display: inline-block;">
          <h1 style="display: inline-block; margin-left: 21%; padding-top: 10px; font-size: 50px; color: black;">Invoice</h1>
          <div id="sectionOne">
            <div id="separator"></div>
            <div id="businessInformation" style="margin-left: 7%; margin-top: 2%; display: inline-block">
              <h4>{{businessName}}</h4>
              <label>{{businessAddress}}</label><label style="position: absolute; left: 350px;">{{businessPhone}}</label>
              <br>
              <label>{{businessCityStateCountry}}</label><label style="position: absolute; left: 350px;">{{businessEmail}}</label>
              <br>
              <label>{{businessZipCode}}</label>
            </div>
            <div style="display: inline-block; float: right; margin-right: 15%; margin-top: 3%;">
              <i class="fas fa-file-invoice-dollar" style="font-size: 120px; color: black;"></i>
            </div>
          </div>
  
          <div id="sectionTwo">
            <div id="separator"></div>
            <br>
            <h4 style="margin-left: 7%;">Invoice Tasks</h4>
            <div style="width: 20%; margin-left: 8%; display: inline-block;">
              <label style="color: grey; font-weight: bold">INVOICE ID</label>
              <br>
              <label>{{invoice.invoiceId}}</label>
              <br>
              <label style="color: grey; font-weight: bold">DATE OF ISSUE</label>
              <br>
              <label>{{invoice.invoiceDateOfIssue}}</label>
            </div>
            <table class="table">
              <thead>
              <tr style="color: black;">
                <th scope="col" style="width: 60%; color: black">DESCRIPTION</th>
                <th scope="col" style="color: black;">COST*</th>
                <th scope="col" style="color: black;">EFFORT*</th>
                <th scope="col" style="color: black;">TOTAL</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks">
                  <td style="color: black;">{{task.description}}</td>
                  <td style="color: black;">{{task.cost}}</td>
                  <td style="color: black;">{{task.effort}}</td>
                  <td style="color: black;">{{task.total}}</td>
                </tr>
              </tbody>
              <hr>
              <span style="margin-left: 10px; color: black;">*per hour</span>
            </table>
          </div>
  
          <div id="sectionThree">
            <div id="separator"></div>
            <br>
            <div style="margin-left: 7%; float: right; margin-right: 8%">
              <label style="color: grey; font-weight: bold">SUBTOTAL   </label><label style="padding-left: 10px;">${{invoice.invoiceTotal}}</label>
              <br>
              <label style="color: grey; font-weight: bold">DISCOUNT   </label><label style="padding-left: 9px;">-${{invoice.invoiceDiscount}}</label>
              <hr>
              <h4 *ngIf="!paid">Total Due: ${{invoice.invoiceTotal}}</h4>
              <h4 *ngIf="paid" style="text-decoration: line-through">Total Due: ${{invoice.invoiceTotal}}</h4>
            </div>
            <br>
            <label *ngIf="!paid" style="margin-left: 7%;">Please pay by: {{invoice.invoicePayByDate}}</label>
            <label *ngIf="paid" style="margin-left: 7%;">Paid: {{invoice.invoiceDateOfIssue}}</label>
            <img *ngIf="paid" src='https://s1.card-images.com/products/green-paid-stamp_CD5380_Z.jpg' style='height: 125px; widows: 125px; margin-left: 30%'>
          </div>
        </div>
      </div>
      <div *ngIf="!admin && !paid" style="background-color: rgb(50,50,50,0.8); margin-bottom: 5%; padding: 10px; width: 35%; margin-top: 6%; height:350px; position: sticky; top: 20%;">
        <h4 style="color: white; padding-left: 25%;">Make Your Payment</h4>
      <form action="//httpbin.org/post" method="POST">
        <input type="hidden" name="token" />
        <div class="group">
          <label class="paymentLabel">
            <span>Card number</span>
            <div id="card-number-element" class="field"></div>
          </label>
          <label class="paymentLabel">
            <span>Expiry date</span>
            <div id="card-expiry-element" class="field"></div>
          </label>
          <label class="paymentLabel">
            <span>CVC</span>
            <div id="card-cvc-element" class="field"></div>
          </label>
          <label class="paymentLabel">
            <span>Postal code</span>
            <input id="postal-code" name="postal_code" class="field" placeholder="Regular field placeholder" />
          </label>
        </div>
        <button type="submit" (click)="pay()">Pay ${{total}}</button>
        <div class="outcome">
          <div class="error"></div>
          <div class="success">
            Success! Your Stripe token is <span class="token"></span>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  