<div id='main-container'>
    <form [formGroup]="registerForm">
        <h3 *ngIf="!editMode" style="text-align: center; padding-top: 5%;">Create New Service</h3>
        <h3 *ngIf="editMode" style="text-align: center; padding-top: 5%;">Edit Service</h3>
        <hr>


        <div class="form-group">
          <label>Service Title</label>
          <input style="width: 90%; margin-right: 5%; margin-left: 5%; text-align: center" type="text" formControlName="serviceTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serviceTitle.errors }" [(ngModel)]="service.cardTitle" />
          <div *ngIf="submitted && f.serviceTitle.errors" class="invalid-feedback">
              <div class="validationError" *ngIf="f.serviceTitle.errors.required" style="color: red;">Service Title is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Image URL</label>
          <input style="width: 90%; margin-left: 5%; margin-right: 5%; text-align: center" type="text" formControlName="serviceImg" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serviceImg.errors }" [(ngModel)]="service.cardImg" />
          <img src='{{service.cardImg}}' style="width:50%; height: 20%; margin-left: 25%;" alt="Your Image">     
          <div *ngIf="submitted && f.serviceImg.errors" class="invalid-feedback">
              <div class="validationError" *ngIf="f.serviceImg.errors.required" style="color: red;">Service Image is required</div>
          </div>
        </div>
        
        <label>Service Title 2 (optional)</label>
        <br>
        <input style="width: 90%; margin-right: 5%; margin-left: 5%; text-align: center"  [(ngModel)]="service.cardTitle2" [ngModelOptions]="{standalone: true}">

        <div class="form-group">
          <label>Service Description</label>
          <textarea style="width: 90%; margin-right: 5%; margin-left: 5%; text-align: center; height: 140px" maxlength="250" type="text" formControlName="serviceDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serviceDesc.errors }" [(ngModel)]="service.cardDesc" ></textarea>
          <div *ngIf="submitted && f.serviceDesc.errors" class="invalid-feedback">
              <div class="validationError" *ngIf="f.serviceDesc.errors.required" style="color: red;">Service Description is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Service Price Per Hour</label>
          <input style="width: 90%; margin-right: 5%; margin-left: 5%; text-align: center" type="number" formControlName="servicePricingDetail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.servicePricingDetail.errors }" [(ngModel)]="service.cardPricingDetail" />
          <div *ngIf="submitted && f.servicePricingDetail.errors" class="invalid-feedback">
              <div class="validationError" *ngIf="f.servicePricingDetail.errors.required" style="color: red;">Service Price is required</div>
          </div>
        </div>

        <div class="form-group">
          <button style="margin-left: 41%; margin-right: 40%;" class="btn btn-secondary" data-toggle="modal" data-toggle="modal" data-target="#myModal" (click)="showModal()">Preview</button>
          <button (click)="onSubmit()" style="margin-left: 41%; margin-right: 40%; margin-top: 0.7%" class="btn btn-primary">Submit</button>
          <a href="/services" style="margin-left: 40%; margin-right: 40%;"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </form>
  </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="color: black;">Preview</h4>
              <button type="button" class="close" (click)="hideModal()">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="card" style="display: inline-block; margin-left: 6%; background-color: rgb(54, 54, 54); margin-left: 14%;">
                <h3>{{service.cardTitle}}</h3>
              <img class="card-img-top"
                src={{service.cardImg}}
                alt="Your image is unavailable">
              <div class="card-body">
                <h5 class="card-title">{{service.cardTitle2}}</h5>
                <p class="card-text" style="color:white;">{{service.cardDesc}}</p>
              </div>
              <div class="card-body">
                <span class="card-link" style="position: relative; bottom: 0;margin-bottom: 20px;">
                  Click here for pricing!
                </span>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="hideModal()">Close</button>
      
              <!-- this button is hidden, used to close from typescript -->
              <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
            </div>
          </div>
        </div>
      </div>