#main-container{
    min-height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    padding-bottom: 5%;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 6%;
}
#form{
    width: 100%;
    /* margin-right: 30%; */
    /* margin-left: 30%; */
    padding-top: 20px;
    text-align: center;
}
hr {
    height: 1.5px;
    color:rgb(94, 216, 238);
    background-color: rgb(94, 216, 238);
}
label{
    padding-top: 30px
}

input{
    color: black
}
textarea{
    color: black;
}
button{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
}
.btn-primary{
    background-color: rgb(83, 83, 83);
    color: rgb(94, 216, 238);
    border-style: none;
}

.btn-primary:hover{
    background-color: rgb(94, 216, 238);
    color: black;
}

.btn-primary:disabled{
    background-color: lightgrey;
    color: white;
}
#arrows{
    margin-top: 10px;
    margin-left: 39%;
}
.button:focus{
    outline: none;
}
.hline { 
    width:100%; 
    height:1px; 
    background: #fff 
}
.card{
    vertical-align: top;
    margin-top: 3%;
    margin-left: 5%;
    width: 22rem;
    background: rgba(153, 153, 153, 0.6);
    border-style: solid;
    border-color: rgb(59, 59, 59);
    border-width: 0.5px;
    height: 500px;
}
img{
    width: 22rem; 
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
h3{
    padding-top: 10px;
    padding-bottom: 8px;
    color: rgb(94, 216, 238);
    text-align: center
}
span{
    color: rgb(94, 216, 238);
    padding-top: 10px;
}
span:hover{
    color: white;
    cursor: pointer;
}
a{
    color: rgb(94, 216, 238);
    padding-top: 10px;
}
a:hover{
    color: white;
    cursor: pointer;
}
.modal-header{
    color:black !important;
}
.modal-body{
    color:black !important;
}
.btn-primary{
    background-color: rgb(83, 83, 83);
    color:rgb(94, 216, 238);
    border-color: rgb(153, 153, 153);
}
.btn-primary:hover{
    background-color: rgb(94, 216, 238);
    border-color: transparent;
    color: black;
}
label{
    margin-left: 5%;
}
.validationError{
    margin-left: 5%;
}