<div id='main-container'>
  <form [formGroup]="registerForm">
    <h3 style="text-align: center; padding-top: 5%;">Login</h3>
    <hr>
    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="this.email" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
      <div classs="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="this.password" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <div *ngIf="errorMessage" style="text-align: center" (click)="closeMessage()">
          <span style="color: red; font-size: 15px;">{{errorMessage}}</span>
        </div>
    </div>
    <div class="form-group">
      <button (click)="onSubmit()" style="margin-left: 41%; margin-right: 40%; margin-top: 4%;" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <a routerLink="/" style="margin-left: 40%; margin-right: 40%;"><button class="btn btn-danger">Cancel</button></a>
  <div style="text-align: center; margin-top: 5px;"><button class="btn btn-default" style="color: white" (click)="setForgotPassword()">Forgot Password?</button></div>
</div>