<div class="card" style="width: 50%; margin-right: 25%; margin-left: 25%; margin-top: 2%; text-align: center">
  <div class="card-body">
    <h1 class="card-title" style="color: rgb(94, 216, 238); font-size: 35px;">Contact Me</h1>
    <a class="card-text" style="color:white;" href="https://www.facebook.com/Busy-Beevers-Virtual-Assistant-577507756093532/" target="_blank"><i class="fab fa-facebook" style="color:#3b5998; margin-right: 5px;"></i>Connect with me on Facebook</a>
    <br>
    <a clsdd="card-text" style="color:white;" href="https://www.linkedin.com/in/sara-beevers-34b1a7159/" target="_blank"><i class="fab fa-linkedin" style="margin-right: 5px; color: #0077B5;"></i>Connect with me on LinkedIn</a>
    <br>
    <a clsdd="card-text" href="mailto:busybeeversva@gmail.com" style="color: white;"><i class="fas fa-envelope-open-text" style="margin-right: 5px; color: black;"></i>Contact me by Email</a>
    <!-- <br>
    <a *ngIf="!username" clsdd="card-text" href="#" style="color: white;" (click)="showLogInWarning()"><i class="fas fa-sms" style="margin-right: 5px; color: white;"></i>Send me a text</a>
    <a *ngIf="username && !alreadyTexted" clsdd="card-text" href="/text-me" style="color: white;"><i class="fas fa-sms" style="margin-right: 5px; color: white;"></i>Send me a text</a>
    <a *ngIf="username && alreadyTexted" href="#" clsdd="card-text" style="color: white;" (click)="alreadySentText()"><i class="fas fa-sms" style="margin-right: 5px; color: white;"></i>Send me a text</a> -->
  </div>
</div>