.card{
    vertical-align: top;
    height: 450px;
    margin-left: 50px;
    background: rgba(153, 153, 153, 0.6);
}
h1{
    padding-left: 42%;
    padding-bottom: 5%;
}
a{
    font-size: 30px;
    color: white;
    padding-left: 30%;
}
.btn-primary{
    background-color: rgb(83, 83, 83);
    color:rgb(94, 216, 238);
    border-color: rgb(153, 153, 153);
}
.btn-primary:hover{
    background-color: rgb(94, 216, 238);
    border-color: transparent;
    color: black;
}
p{
    color: black;
}