<div id='main-container' style="text-align: center;">
    <h2 style="color: rgb(94, 216, 238); text-align: center; padding-top: 5%">My Links</h2>
    <hr>
    <span style="color: white;">*Make sure to enter <b style="color:white;">http://</b> for the link to work!</span>
    <div>
      <label>My Website:</label>
      <input [(ngModel)]="user.myWebsite"/>
    </div>
    <div>
      <label>Facebook:</label>
      <input [(ngModel)]="user.facebook"/>
    </div>
    <div>
      <label>Instagram:</label>
      <input [(ngModel)]="user.instagram"/>
    </div>
    <div>
      <label>Youtube:</label>
      <input [(ngModel)]="user.youtube"/>
    </div>
    <div>
      <label>LinkedIn:</label>
      <input [(ngModel)]="user.linkedIn"/>
    </div>
    <div>
      <label>Twitter:</label>
      <input [(ngModel)]="user.twitter"/>
    </div>
    
    <br>
  <button (click)="submit()" style="width: 33% !important;"
    class="btn btn-primary">Submit</button>
    <div *ngIf="errorMessage" style="text-align: center">
      <span style="color: white;">{{errorMessage}}</span>
    </div>
</div>