<nav class="navbar navbar-expand-lg navbar-light" id="navbar" style="position: sticky; z-index: 99; top:0;">
  <a class="navbar-brand" routerLink="/" style="font-size: 23px; color: rgb(94, 216, 238);">The Busy Beevers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="userService.isAuthenticated()" routerLink="/home" style="color:white;"><i class="fas fa-home"></i>  Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services" style="color:white;"><i class="fas fa-concierge-bell"></i>  Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-me" style="color:white;"><i class="fas fa-address-book"></i>  Contact Me<span class="sr-only">(current)</span></a>
      </li>
      <li>
      <div *ngIf="userService.isAuthenticated()" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account Options
          </button>
          <div class="dropdown-menu" aria-labelledBy="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/view-tasks" style="color:white;"><i class="fas fa-tasks"></i>  Create/View Tasks<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" routerLink="/view-invoices" style="color:white;"><i class="fas fa-receipt"></i>  View Invoices<span class="sr-only">(current)</span></a>
            <a *ngIf="userService.isAdmin()" class="dropdown-item" routerLink="/create-invoices" style="color:white;"><i class="fas fa-pencil-alt"></i>  Create Invoice<span class="sr-only">(current)</span></a>
          </div>
      </div>
    </li>
    </ul>
    <span *ngIf="userService.isAuthenticated()" style="padding-right: 30px;">Welcome, {{userService.getFirstName()}} {{userService.getLastName()}}<span *ngIf="this.user.roleType == 'admin'">(ADMIN)</span></span>
    <div *ngIf="!userService.isAuthenticated()">
      <a routerLink="/login" style="color: rgb(94, 216, 238);">Login</a>
      <span style='margin-left: 10px; margin-right: 10px'>or</span>
      <a routerLink="/register" style="padding-right: 40px; color: rgb(94, 216, 238);">Register</a>
    </div>
    <div class="dropdown" *ngIf="userService.isAuthenticated()" id="accountIcon"> 
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i id="myAccount" style="margin-left: 15px;" class="fas fa-user-circle"></i>
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a routerLink="/login" (click)="userService.logout()" style="color: white; padding-right: 40px; margin-left: 10px;">Logout</a></li>
          <li><a routerLink="/my-account"  style="color: white; padding-right: 40px; margin-left: 10px;">My Account</a></li>
        </ul>
      </div>
  </div>
</nav>
<div *ngIf='showAlert' [ngClass]="messageClass" role="alert" id="alertMessage"
style="width: 100%; color: black; right: 0; z-index: 99; position: sticky; top:61px;">
<strong style="color: black;"><i style="color: black" [ngClass]="iconClass"></i> {{messageHeader}}</strong> {{messageMessage}}
<button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true" style="color: black;">&times;</span>
</button>
</div>

<router-outlet id="router-outlet"></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light" id="footer" style="width: 100%; position: fixed; bottom: 0">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact-me" style="color:white;">Contact Me<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
</nav>