<div class="gandalf">
  <div class="fireball"></div>
  <div class="skirt"></div>
  <div class="sleeves"></div>
  <div class="shoulders">
    <div class="hand left"></div>
    <div class="hand right"></div>
  </div>
  <div class="head">
    <div class="hair"></div>
    <div class="beard"></div>
  </div>
</div>
<div class="message">
<h1 style="text-align: center">403 - You Shall Not Pass</h1>
<p style="text-align: center">Uh oh, Gandalf is blocking the way!</p>
<p style="margin-bottom: 10%; text-align: center">Maybe you have a typo in the url? Or you meant to go to a different location? Like the...<a routerLink="/login" style="color:white;">Login</a>?</p>
</div>