<div id='main-container'>
    <div class="card" style="display: inline-block; margin-left: 6%;" *ngFor="let service of services[0]; index as i">
        <h3>{{service.cardTitle}}</h3>
      <img class="card-img-top"
        src={{service.cardImg}}
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{service.cardTitle2}}</h5>
        <p class="card-text" style="color:white;">{{service.cardDesc}}</p>
      </div>
      <div class="card-body">
        <span class="card-link" style="position: relative; bottom: 0;margin-bottom: 20px;" data-toggle="modal" data-toggle="modal" data-target="#myModal" (click)="showModal(i)">
          Click here for pricing!
        </span>
        <span class="card-link" (click)="showModal(i)" *ngIf="this.user.roleType=='admin'" class="card-link" style="position: relative; bottom: 10px; float: right">Edit</span>
      </div>
    </div>
    <div *ngIf="this.user.roleType == 'admin'" class="card" style="display: inline-block; margin-left: 6%;">
        <h3>Create New Service</h3>
        <br>
        <a routerLink="/new-service"><i style="font-size: 80px; color: rgb(99, 98, 98); margin-left: 40%; margin-right: 40%; padding-top: 20%;" class="fas fa-plus"></i></a>
    </div>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: black">{{selectedService.cardTitle}}</h4>
          <button type="button" class="close" (click)="hideModal()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <h4 style="color: black">Description</h4>
          {{selectedService.cardDesc}}
          <h4 style="padding-top: 20px; color: black">Pricing</h4>
          ${{selectedService.cardPricingDetail}} per hour
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button *ngIf="this.user.roleType=='admin' && !showVerification" type="button" class="btn btn-danger" (click)="showVerificationDiv()">Delete</button>
          <button *ngIf="this.user.roleType=='admin' && !showVerification" type="button" class="btn btn-default" (click)="editCard()">Edit</button>
          <button *ngIf="!showVerification" type="button" class="btn btn-primary" (click)="hideModal()">Close</button>
          <div *ngIf="showVerification" style="float:right;">
            <div style="color: black">Are you sure you want to delete this Service?</div>
            <button [disabled]="showProcessing" style="margin-left: 35%;" type="button" class="btn btn-danger" (click)="deleteCard()">
                <i *ngIf="showProcessing" class="fas fa-spinner fa-spin"></i>   Yes, Delete</button>
            <button [disabled]="showProcessing"  style="margin-left: 3%;" type="button" class="btn btn-primary" (click)="showVerificationDiv()">Cancel</button>
          </div>
          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
        </div>
      </div>
    </div>
  </div>