<div id="main-layout">
  <div class="row" style="margin-right: 2%; margin-left: 2%;">
      <div class="col-md-7" style="display: inline-block">
        <div class="col-md-12" style="color: white;" id='main-picture-box'>
          <div id="picture-text" style="color: rgb(94, 216, 238)">"A good system shortens the road to the goal" -Brison Swett Marden</div>
        </div>
      </div>
      <div class="col-md-5" style="display: inline-block; top:0">
        <div class="col-md-12 textBox" style="color: white;" id='main-paragraph'>
          <h1 style="color: rgb(94, 216, 238)">Welcome!</h1>
          <h3 style="padding-left: 30px; color: rgb(94, 216, 238)">VA's Client Management Tool</h3>
          <br>
          <div style="padding-left: 10%; padding-right: 10%;">
            Here you will find all the tools you need to manage tasks and invoices whether you 
            are a virtual assistant, or are working with a virtual assistant! You can easily 
            add and track tasks and invoices as a virtual assistant, and track progress as a client.
          </div>
        </div>
    </div>
  </div>
  <div class="row" style="margin-right: 2%; margin-left: 2%;">
    <div class="col-lg-12">
      <div class="col-md-4">
        <div class="card col-md-12">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(94, 216, 238); font-size: 25px;">About Us</h5>
            <p class="card-text">Here you can learn about the services we provide, and how to use the website!
              </p>
            <a routerLink="about-us" style="position: absolute; bottom: 0; margin-bottom: 15px; width: 120px" class="btn btn-primary">About Us</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card col-md-12">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(94, 216, 238); font-size: 25px;">Have Clients?</h5>
            <p class="card-text">Here you can learn about becoming an admin to organize your clients tasks and invoices!
            </p>
            <a routerLink="become-an-admin" class="btn btn-primary" style="position: absolute; bottom: 0; margin-bottom: 15px; width: 120px">Learn More!</a>
          </div>
        </div>
      </div>  
      <div class="col-md-4" *ngIf="!userService.isAuthenticated()">
        <div class="card col-md-12">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(94, 216, 238); font-size: 25px;">New Here?</h5>
            <p class="card-text">Create an account and connect with me! Easily manage your or your clients tasks and invoices!</p>
            <a (click)="login()" class="btn btn-primary" style="position: absolute; bottom: 0; margin-bottom: 15px; width: 120px;">Register</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="userService.isAuthenticated()">
        <div class="card col-md-12">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(94, 216, 238); font-size: 25px;">My Services</h5>
            <p class="card-text">Add and Edit your services here to automatically add to assigned tasks!</p>
            <a routerLink="services" class="btn btn-primary" style="position: absolute; bottom: 0; margin-bottom: 15px; width: 120px">My Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>