<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<script src="Scripts/umd/popper.min.js"></script>

<div class="background" (keyup)="calculate()">
  <div class="row">
    <div class="column left"  id="contentToConvert">
      <div class="page">
        <!-- <img src='' style="height: 50px; width: 150px; margin-top: 10px; margin-left: 5%;display: inline-block;"> -->
        <h1 style="display: inline-block; margin-left: 43%; padding-top: 10px; font-size: 50px; color: black;">Invoice</h1>
        <div id="sectionOne">
          <div id="separator"></div>
          <div id="businessInformation" style="margin-left: 7%; margin-top: 2%; display: inline-block">
            <h4>{{invoiceCustomer.businessName}}</h4>
            <label>{{invoiceCustomer.businessStreetAddress}}</label><label style="position: absolute; left: 350px;">{{invoiceCustomer.workPhone}}</label>
            <br>
            <label>{{invoiceCustomer.businessCity}}, {{invoiceCustomer.businessState}} {{invoiceCustomer.businessCountry}}</label><label style="position: absolute; left: 350px;">{{invoiceCustomer.email}}</label>
            <br>
            <label>{{invoiceCustomer.businessZip}}</label>
          </div>
          <div style="display: inline-block; float: right; margin-right: 15%; margin-top: 3%;">
            <i class="fas fa-file-invoice-dollar" style="font-size: 120px; color: black;"></i>
          </div>
        </div>

        <div id="sectionTwo">
          <div id="separator"></div>
          <br>
          <h4 style="margin-left: 7%;">Invoice Tasks</h4>
          <div style="width: 20%; margin-left: 8%; display: inline-block;">
            <label style="color: grey; font-weight: bold">INVOICE ID</label>
            <br>
            <label *ngIf="invoice.invoiceId">{{invoice.invoiceId}}</label>
            <label *ngIf="!invoice.invoiceId">TBD</label>
            <br>
            <label style="color: grey; font-weight: bold">DATE OF ISSUE</label>
            <br>
            <label>{{dateOfIssue}}</label>
          </div>
          <table class="table">
            <thead>
            <tr style="color: black;">
              <th scope="col" style="width: 60%; color: black">DESCRIPTION</th>
              <th scope="col" style="color: black;">COST*</th>
              <th scope="col" style="color: black;">EFFORT*</th>
              <th scope="col" style="color: black;">TOTAL</th>
            </tr>
            </thead>
            <tbody *ngIf="!edit">
              <tr *ngFor="let task of completedTasks">
                <td style="color: black;">{{task.taskDesc}}</td>
                <td style="color: black;">${{task.taskCostPerHour}}</td>
                <td style="color: black;">{{task.taskActualEffort}}</td>
                <td style="color: black;">${{task.taskFinalCost}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="edit">
              <tr *ngFor="let task of completedTasks[0]">
                <td style="color: black;">{{task.taskDesc}}</td>
                <td style="color: black;">${{task.taskCostPerHour}}</td>
                <td style="color: black;">{{task.taskActualEffort}}</td>
                <td style="color: black;">${{task.taskFinalCost}}</td>
              </tr>
            </tbody>
            <hr>
            <span style="margin-left: 10px; color: black;">*per hour</span>
          </table>
        </div>

        <div id="sectionThree">
          <div id="separator"></div>
          <br>
          <div style="margin-left: 7%; float: right; margin-right: 8%">
            <label style="color: grey; font-weight: bold">SUBTOTAL   </label><label style="padding-left: 10px;">${{subtotal}}</label>
            <br>
            <label style="color: grey; font-weight: bold">DISCOUNT   </label><label style="padding-left: 9px;">-${{discount}}</label>
            <hr>
            <h4 *ngIf="!paid">Total Due: ${{total}}</h4>
            <h4 *ngIf="paid" style="text-decoration: line-through">Total Due: ${{total}}</h4>
          </div>
          <br>
          <label *ngIf="!paid" style="margin-left: 7%;">Please pay by: {{payByDate}}</label>
          <label *ngIf="paid" style="margin-left: 7%;">Paid: {{invoiceCustomer.dateOfIssue}}</label>
          <img *ngIf="paid" src='https://s1.card-images.com/products/green-paid-stamp_CD5380_Z.jpg' style='height: 125px; widows: 125px; margin-left: 30%'>
        </div>
      </div>
    </div>

    <div class="column right">
      <div class="form">
          <p style="color: black; text-align: center">In this section, <b style="color: black;">Choose a customer...</b> from the dropdown. The customers information will be auto-populated
            based on their profile information. Any tasks that are marked as <b style="color: black;">completed</b>, and not already
            <b style="color: black;">associated with another invoice</b>, will be placed in this invoice. <b>PLEASE NOTE</b> if you 
            select export and email, it will download the PDF to <b>Your Downloads</b> and open the email. <b>You will still have 
              to attach the file to the email!</b>
          </p>
        <div class="dropdown">
          <button [disabled]="edit || submitted" *ngIf="this.user.admin" style="padding-bottom: 15%;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{chosenBusiness}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let user of users[0]; index as i" style="color:white;" (click)="getUser(i)">{{user.businessName}}</a>
          </div>
        </div>
        <br>
        <label>Discount</label>
        <br>
        <input [disabled]="submitted" (keyup)="calculate()" type="number" [(ngModel)]="discount">
        <br>
        <span *ngIf="subtotal">5%={{subtotal*0.05}}<br>10%={{subtotal*0.1}}<br>15%={{subtotal*0.15}}<br>20%={{subtotal*0.2}}</span>
        <br>
        <br>
        <label>Pay By Date</label>
        <input [disabled]="submitted" [(ngModel)]="payByDate">
        <br>
        <button *ngIf="!edit" style="margin-top: 7%;" (click)="save()" [disabled]="!total || total==0 || submitted">Save</button>
        <button *ngIf="edit" style="margin-top: 7%;" (click)="update()" [disabled]="!total || total==0 || submitted">Update</button>
        <button style="margin-top: 7%;" [disabled]="processing || !submitted" (click)="export();">Export to PDF <i *ngIf="processing"class="fas fa-spinner fa-spin"></i></button>
        <button  style="margin-top: 7%;"[disabled]="processing || !submitted" (click)="emailAndExport();">Export & Email Client<i *ngIf="processing"class="fas fa-spinner fa-spin"></i></button>
        <button *ngIf="edit && !this.paid" [disabled]="showConfirmPaid" style="margin-top: 7%; background-color: green;" (click)="confirmPaid()">Mark As Paid</button>
        <div *ngIf="showConfirmPaid">
          <div  style="text-align:center; color: red !important;">
          Have you received the money for this invoice?
          <br>
          Once you click yes, you cannot undo this.
          <br>
          </div>
          <button (click)="updatePaid()">Yes, I have been paid for this invoice</button>
          <button (click)="confirmPaid()">No, I have not been paid for this invoice!</button>
        </div>
      </div>
    </div>
  </div>
</div>