#main-container{
    margin-bottom: 8%;
}
.card{
    margin-top: 3%;
    margin-left: 5%;
    width: 22rem;
    background: rgba(153, 153, 153, 0.6);
    border-style: solid;
    border-color: rgb(59, 59, 59);
    border-width: 0.5px;
}
img{
    width: 22rem; 
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
h3{
    padding-top: 10px;
    padding-bottom: 8px;
    color: rgb(94, 216, 238);
    text-align: center
}
a{
    color: rgb(94, 216, 238);
}
.column {
    float: left;
}  
.left {
    width: 50%;
}
.right {
    width: 50%;
}
input{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
label{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.invalid-feedback{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.invalid-feedback div{
    color: red;
    font-size: 15px;
}
h4{
    text-align: center; 
    padding-top: 5%;
}
.btn-primary{
    background-color: rgb(83, 83, 83);
    color:rgb(94, 216, 238);
    border-color: rgb(153, 153, 153);
}
.btn-primary:disabled:hover{
    background-color: rgb(83, 83, 83);
    color:white;
    border-color: rgb(153, 153, 153);
}
.btn-primary:disabled{
    background-color: rgb(83, 83, 83);
    color:white;
    border-color: rgb(153, 153, 153);
}
.btn-primary:hover{
    background-color: rgb(94, 216, 238);
    border-color: transparent;
    color: black;
}
.dropdown-toggle{
    width: 80%;
    margin-left: 10%;
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.5px;
    border-radius: 3px;
}

.link{
    color: grey !important;
    text-decoration: underline !important;
}

.link:hover{
    text-decoration: underline !important;
    color: black !important;
    cursor: pointer !important;
}
.prime-accordion-override{
        background-color: red !important;
    
}   