<div id='main-container'>
    <h2 style="color: rgb(94, 216, 238); text-align: center; padding-top: 5%">My Account</h2>
    <h4>Personal Information</h4>
    <hr>
    <div class="row">
      <div class="column left">
        <label>First Name: <b>{{this.user.firstName}}</b></label>
        <label>Email: <b>{{this.user.email}}</b></label>
      </div>
      <div class="column right">
        <label>Last Name: <b>{{this.user.lastName}}</b></label>
        <label>Business Phone #: <b>{{this.user.workPhone}}</b></label>
      </div>
    </div>
    <h4>Business Information</h4>
    <hr>
    <div class="row">
      <div class="column left">
        <label>Business Name: <b>{{this.user.businessName}}</b></label>
        <label>Business Street Address: <b>{{this.user.businessStreetAddress}}</b></label>
        <label>Business City: <b>{{this.user.businessCity}}</b></label>
      </div>
      <div class="column right">
        <label>Business State: <b>{{this.user.businessState}}</b></label>
        <label>Business Country: <b>{{this.user.businessCountry}}</b></label>
        <label>Business Zip: <b>{{this.user.businessZip}}</b></label>
      </div>
    </div>
    <hr>
    <br>
    <div style="text-align: center; font-size: 20px">
      If you would like to change any of your information please follow <a href="https://dev-449097.okta.com/login/login.htm" target="_blank">this link...</a>
      then on the top right, hover over your name, and click "Settings". Changes will be reflected next time you log in.
    </div>
    <br>
  <button routerLink="/home" style="width: 14%; margin-right: 43%; margin-left: 43%"
    class="btn btn-primary">Return Home</button>
</div>